*{
  margin: 0;
  padding: 0;
  font-family: 'Operator Mono SSm Book', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',;
}
body{
  overflow-y: auto;
  overflow-x: hidden;
}