@mixin flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin paddingX($value: 10px) {
    padding-left: $value;
    padding-right: $value;
}
@mixin paddingY($value: 10px) {
    padding-top: $value;
    padding-bottom: $value;
}
@mixin marginX($value: 10px) {
    margin-left: $value;
    margin-right: $value;
}
@mixin marginY($value: 10px) {
    margin-top: $value;
    margin-bottom: $value;
}

@function percent($n, $percent-number) {
    @return calc(($n * $percent-number) / 100);
}
